@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Lato:wght@100;300;700;900&family=Roboto:wght@100;300;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: grey;
  padding: 0px;
  margin: 0px;
}

header * {
  color: #ffffff;
}

header {
  background: #393939;
  height: 70px;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 8px;
  font-family: "Bungee Hairline", cursive;
  font-size: 3rem;
}

header .logo-text span {
  color: #5e7663;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li a {
  display: block;
  padding: 26px;
  font-size: 0.9rem;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

header .menu-toggle {
  display: none;
}

header ul li ul {
  position: absolute;
  top: 70px;
  background-color: lightgrey;
  right: 0px;
  width: 156px;
  display: none;
}

header ul li:hover ul {
  display: block;
}

.down-icon {
  font-size: 0.7rem;
}

.user-icon {
  font-size: 0.8rem;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: #393939;
  color: #ffffff;
}

ul > li > a:hover {
  color: #ffffff;
  position: relative;
}

ul > li > a::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ffffff;

  transform: scaleX(0);
  transform-origin: bottom left;

  position: absolute;
  bottom: 0;
  left: 0;

  transition: ease-in 300ms;
}

ul > li > a:hover::before {
  width: 100%;
  transform: scaleX(1);
}

ul > li > a.logout::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #b0121e;

  transform: scaleX(0);
  transform-origin: bottom left;

  position: absolute;
  bottom: 0;
  left: 0;

  transition: ease-in 200ms;
}

ul > li > a.logout:hover::before {
  width: 100%;
  transform: scaleX(1);
}

/* Media Queries */

@media only screen and (max-width: 890px) {
  header {
    position: relative;
  }

  header ul {
    width: 100%;
    background-color: #393939;
    max-height: 0px;
    overflow: hidden;
  }

  .showing {
    max-height: 100em;
  }

  header ul li {
    width: 100%;
  }

  header ul li ul {
    display: block;
    width: 100%;
    display: static;
  }

  header ul li ul li a {
    padding: 10px;
    background: #393939;
    color: #ffffff;
    padding-left: 80px;
  }

  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2rem;
    color: #ffffff;
  }

  header .logo {
    margin-left: 0.5em;
  }
}
